<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../assets/img/Logo.png" style="width: auto; height: 100%"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/unchecked">Unchecked</a></li>
      <li><a routerLink="/checked">Checked</a></li>
      <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>-->
      <li><a href="#">General Map</a></li>
      <li *ngIf="auth.isAuthenticated()"><a routerLink="/admin">Admin Section</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="auth.isAuthenticated()"><span>Logged in as {{profile?.given_name}}</span></a></li>
      <li><a *ngIf="!auth.isAuthenticated()" (click)="this.auth.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="this.auth.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
