<div class="container" style="padding-top: 10px; padding-bottom: 20px ">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
              <div *ngFor="let i of post?.items; let isFirst = first; let pos=index" class="tab-pane" [class.active]="isFirst" id="{{pos}}" style="width: 50%; height: 75%">
                <img [src]="this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,' + i.image)" />
              </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li *ngFor="let i of post?.items; let isFirstT = first; let pos=index" [class.active]="isFirstT">
              <a href="#{{pos}}" data-toggle="tab">
                <img [src]="this.sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,' + i.image)" />
              </a>
            </li>

          </ul>

        </div>
        <div class="details col-md-6">
          <h3 *ngIf="post?.comments.length > 0" class="product-title">{{post.comments[post.comments.length-1].comment}}</h3>
          <h3 *ngIf="post?.comments.length == 0" class="product-title">{{post.type}}</h3>

          <div class="avatar">
            <img src="{{this.user?.picture}}" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="width: 30px">
          </div>
          <h4 class="user">User: <span>{{this.user?.givenName}} {{this.user?.familyName}}</span></h4>
          <h4 *ngIf="post?.checked" class="user">Checked: <span>This post was checked by {{post.comments[post.comments.length-1].nickname}} on {{post.comments[post.comments.length-1].date}}</span></h4>
          <h4 *ngIf="!post?.checked" class="user">Checked: <span>This post hasn't been checked yet</span></h4>
          <h5 class="coordinates">Coordinates:
            <ul>
              <li title="small">Latitude: <span>{{this.post?.geolocation.lat}}</span></li>
              <li title="medium">Longitude: <span>{{this.post?.geolocation.lng}}</span></li>
            </ul>
            <button class="btn btn-success">Go to map</button>
            <hr>
          </h5>
          <h3 class="product-title">
            <div class="form-group">
              <label for="types">Type of the image:</label>
              <select class="form-control" id="types" [(ngModel)]="this.selectedType">
                  <option>{{this.selectTypeDefault}}</option>
                  <option *ngFor="let p of planttypes">{{p}}</option>
              </select>
            </div>
            <button *ngIf="auth.isAuthenticated()" style="width: 99%" class="btn btn-warning" (click)="updateType()">Update</button>
          </h3>
          <div *ngIf="!auth.isAuthenticated()">
            <div class="alert alert-danger">
              You must be logged to do changes on the database.
            </div>
          </div>
          <div *ngIf="auth.isAuthenticated()" class="btn-toolbar" style="width:100%;" >
            <button class="btn btn-success" style="width: 49%" (click)="done()">Done</button>
            <button class="btn btn-danger" style="width: 49%" (click)="deletePost()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

