<div class="container" style="padding-top: 10px; padding-bottom: 20px ">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/200/126" /></div>
            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/200/126" /></div>
            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/200/126" /></div>
            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/200/126" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/400/252" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{this.post?.type}}</h3>

          <div class="avatar">
            <img src="{{this.user?.picture}}" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="width: 30px">
          </div>
          <h4 class="user">User: <span>{{this.user?.givenName}} {{this.user?.familyName}}</span></h4>
          <h5 class="coordinates">Coordinates:
            <ul>
              <li title="small">Latitude: <span>{{this.post?.geolocation.lat}}</span></li>
              <li title="medium">Longitude: <span>{{this.post?.geolocation.lng}}</span></li>
            </ul>
            <button class="btn btn-success">Go to map</button>
            <hr>
          </h5>
          <h3 class="product-title">
            <div class="form-group">
              <label for="types">Type of the image:</label>
              <select class="form-control" id="types" [(ngModel)]="this.selectedType">
                <option selected>{{selectType}}</option>
                <option>Pasto cuaresma (Digitaria sanguinalis)</option>
                <option>Capín (Echinochloa grusgalli)</option>
                <option>Pata de ganso (Eleusine indica)</option>
                <option>Rama negra (Conyza bonariensis)</option>
                <option>Yuyo colorado (Amaranthus hybridus)</option>
                <option>Malva cimarrona (Anoda cristata)</option>
                <option>Quinoa blanca (Chenopodium album)</option>
              </select>
            </div>
            <button class="btn btn-success" (click)="updateType()">Update</button>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
          </h3>
          <button class="btn btn-warning">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

