table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Put your css in here */
.input-bar {
  display: table;
  width: 50%;
}

.input-bar-item {
  display: table-cell;
}

.input-bar-item > button {
  margin-left: 5px;
}

