<div class="container" style="padding-top: 50px">
  <div class="row">
    <table id="tablePlant" class="display">
      <tr>
        <th>Plant Types</th>
        <th> </th>
      </tr>
      <tr *ngFor="let p of this.plants">
        <td>{{p}}</td>
        <td class="form-check-label">
          <button type=button class="label label-danger" (click)="deleteType(p)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="input-bar" style="padding-top: 20px">
    <div class="input-bar-item">
      <form>
        <div class="input-group">
          <input name="newType" type="text" class="form-control" [(ngModel)]="newType">
          <span class="input-group-btn">
            <button class="btn btn-success btn-round" (click)="addNewType()">Add</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px; padding-bottom: 100px">
  <div class="row">
    <table id="tableAdmin" class="display">
      <tr>
        <th>Admin</th>
      </tr>
      <tr *ngFor="let a of admins">
        <td>{{a}}</td>
      </tr>
    </table>
  </div>
  <div class="input-bar" style="padding-top: 20px">
    <div class="input-bar-item">
      <form>
        <div class="input-group">
          <select name="newAdmin" style="width: 90%" [(ngModel)]="newAdmin">
            <option *ngFor="let u of users" [value]="u">{{u}}</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-success btn-round" (click)="addNewAdmin()">Add</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
